
<div class="row clearfix">
    <% if todo_item.completed? %>
        <div class="complete">
            <%= link_to complete_todo_list_todo_item_path(todo_list, todo_item.id ), method: :patch do %>
            <i class="fa fa-check"></i>
            <% end %>
            </div>

            <%= content_tag :div, id: dom_id(todo_item) do %>
            <div class="todo_item">
            <p style="opacity: 0.7;"><strike><%= todo_item.content %></strike></p>
            </div>
            <% end %>

     <% else %>

        <div class="complete">
        <%= link_to complete_todo_list_todo_item_path(todo_list, todo_item.id), method: :patch do %>
            <i class="fa fa-circle-o"></i>
        <% end %>
        </div>

        <%= content_tag :div, id: dom_id(todo_item) do %>
        <div class="todo_item" >
            <p class="todo_item_content" ><%= todo_item.content %></p>
            
            <% if  todo_item.deadline != nil %>
            <span class="deadline">  <%= todo_item.deadline.strftime("Deadline — %A, %d of %B") %></span>
            <% end %>
        </div>
        <% end %>

     <% end %>


        <div class="item_icon">
        <%= link_to edit_todo_list_todo_item_path(todo_list, todo_item.id, remote: true) do %>
            <i class="fa fa-pencil"></i>
        <% end %>
        </div>
   
        <div class="item_icon">
        <%= link_to edit_deadline_todo_list_todo_item_path(todo_list, todo_item.id) do %>
            <i class="fa fa-calendar"></i>
        <% end %>
        </div>

        <div class="item_icon">
        <%= link_to todo_list_todo_item_path(todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash"></i>
        <% end %>
        </div>


</div>

